.main-header {

	:--headings {
		color: $dark-color;
	}

	:--content {
		color: color($light-color blackness(25%));
	}

	&:matches(:first-child, :nth-of-type(4), :last-of-type) {
		margin-top: 0;
		transition: all ease-out-back;
	}

	&:not(div:nth-of-type(2), p) {
		color: $dark-color;
	}

	@media $small-breakpoint {
		background: rgba(#f04444, 0.6);

		div {
			clear: fix;

			&:any-link {
				display: inline-block;
			}
		}
	}

	.main-header__title {
		@media $small-breakpoint {
			fs: 20px;
		}
	}
}
