$font-family: "Saint Seiya";
$font-size: 1rem;
$font-path: 'font/seiya';

$dark-color: #000;
$light-color: #fff;

$small-breakpoint: screen and (width <= 320px);
$medium-breakpoint: screen and (width >= 600px);
$large-breakpoint: screen and (width >= 960px);
